.product-container {
  text-align: center;
  margin: 0 auto;
}

.featuredtitle {
  background-color: getColour(secondary);
  width: 75%;
  margin: 0 auto;
  color: white;
  font-size: 0.6em;
  padding: 0.1vw;
  letter-spacing: 0.1vw;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    width: 90%;
  }
}

.cards {
  @include containerflex;
  flex-wrap: wrap;
  width: 75%;
  column-gap: 5vh;
  row-gap: 5vh;

  @media (max-width: $tablet-width) {
    padding: 2vw;
  }
}

.card {
  flex: 0 4 30%;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $mobile-width) {
    flex: 0 1 60%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .cardbody {
    text-align: left;
    background-color: getColour(grey);
    padding: 3vw;

    h4 {
      font-family: $font-special;
      text-transform: uppercase;
    }

    p {
      font-family: $font-heading-two;
      font-size: 1.3em;
      color: rgb(0, 86, 0);
    }
  }
}

.sitetitle {
  text-align: center;

  input {
    width: 47%;
    padding: 1vw;
    font-style: italic;

    @media (max-width: $tablet-width) {
      width: 70%;
      padding: 2vw;
    }

    @media (max-width: $mobile-width) {
      width: 70%;
      padding: 3vw;
    }
  }
}
