$font-primary: "Roboto light", arial;
$font-heading-one: "montserrat", sans-serif;
$font-heading-two: "barlow condensed", sans-serif;
$font-special: "Unica One", cursive;

$tabletPRO-width: 1030px;
$tablet-width: 768px;
$mobile-width: 400px;

$colours: (
  primary: white,
  secondary: #444a4d,
  accent: #97fff3,
  grey: #efefef,
  blue: #3f4258,
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}
